

<button mat-raised-button color="accent" (click)="sortByJoiningDt()">Sort By Joining Date</button>
<button mat-raised-button color="primary" (click)="sortByName()">Sort By Name</button>
<button mat-raised-button color="warn" (click)="expMoreThan(2)">Expereince more than 2</button>
<button mat-raised-button color="warn" (click)="removeCandidatesFromParticularDepartment('Development')">Remove Development department Employees</button>
<button mat-raised-button color="warn" (click)="reset()">Reset</button>


<ng-container *ngIf="isDataAvailable">
    <app-employee [employees]="employees"></app-employee>
</ng-container>



<h3>
  Department wise Count
</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
  </tr>
<ng-container *ngFor="let departmentWithCount of departmentsWithCount"> 
  <tr>
    <td>{{departmentWithCount.name}}</td>
    <td>{{departmentWithCount.count}}</td>
  </tr>
</ng-container>
</table>